<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Constructor based -->
    <bean id="exampleBean1" class="org.springforqa.example2.bean.ExampleBean">
        <constructor-arg value="Hello from Constructor"/>
    </bean>

    <!-- Factory method -->
    <bean id="exampleBean2" class="org.springforqa.example2.bean.ExampleBean" factory-method="create"/>

    <!-- Instance factory method -->
    <bean id="exampleFactoryBean" class="org.springforqa.example2.bean.ExampleFactoryBean"/>

    <bean id="exampleBean3" class="org.springforqa.example2.bean.ExampleBean"
          factory-bean="exampleFactoryBean"
          factory-method="createExampleBean"
    />
</beans>